extends layout

block content
  h1= title
  style. 
     body{
       background-color:red;
      }
  form(id='RobotsForm', action="/resource/Robots", method="POST")
    div.form-group
      label.RobotsAttr(for='Robot_type') Robot type
      input#Robot_type(type='text', name='Robot_type')
    div.form-group
      label.RobotsAttr(for='price') price
      input#price(type='number', name='price')
    div.form-group
      label.RobotsAttr(for='manufactured') manufactured
      input#manufactured(type='text', name='manufactured')
    input(type="submit")

  script.
    document.forms['RobotsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });ss