extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    else
        - let Robotsid = toShow._id
        - let Robot_type = toShow.Robot_type
        - let price = toShow.price
        - let manufactured = toShow.
        div.row(class='mb-2')
            div.mr-1 ID is
                div #{Robotsid}
                - let actionid = "/resource/Robots/" + Robotsid
                form(id='RobotsForm', action= actionid, method="POST")
                    div.form-group
                        label.RobotsAttr(for='Robots_type') Robots Type
                        input#Robots_type(type='text' name='Robots_type', value= Robots_type)
                    div.form-group
                        label.RobotsAttr(for='price')  price
                        input#price(type='number' name='price', value= price)
                    div.form-group
                        label.RobotsAttr(for='manufactured') Robots manufactured
                        input#manufactured(type='text' name='manufactured', value= manufactured)
                    input(type="submit")
    script.
        document.forms['RobotsForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });